<p>Por favor ingrese el texto de la noticia para validar sí es una fake new y el país al que corresponde la noticia</p>

<form (ngSubmit)="validateArticle(regiForm.value)" [formGroup]="regiForm">

    <mat-form-field class="fake-new-width">
        <textarea matInput type="text" placeholder="Noticia a Validar" formControlName="articulo" rows="5"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Pais" formControlName="pais">
            <mat-option *ngFor="let country of countries" [value]="country.viewValue">
                {{country.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;<button mat-stroked-button class="button" color="primary">Validar Noticia</button>

</form>

<p *ngIf="flag" class="color">La veracidad de la noticia corresponde al {{probabilidad}}% </p>