<p>Por favor ingrese el texto de la noticia para validar sí es una fake new y el país al que corresponde la noticia</p>

<mat-form-field class="fake-new-width">
    <textarea matInput placeholder="Noticia a Validar"></textarea>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="Seleccione país">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>

&nbsp;<button mat-stroked-button color="primary">Validar Noticia</button>